@import url('https://fonts.googleapis.com/css2?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
  }

body {
    text-align: center;
    background-image: linear-gradient(#34434b,#14191c);
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    height: 100vh;
    width: 100vw;
}

#back-image {
    max-width: 845px;
    height: 100%;
    margin: auto;
    background-image: url("output-paint1.png");
}

#overlay {
    min-width: 522px;
    width: 50%;
    height: 100%;
	margin: auto;
	background-color: #f7f7f7;
    color: #d34e4e;
    padding: 10px;
}

h1 {
    font-family: VT323;
    font-size: 90px;
    margin: 0.2em;
    color: #33a2b9;
}

h2 {
    margin: 1em 0 0.25em;
    color: #2C424D;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr{
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    margin: 1px;
}
